<%
=begin%>
 
<body oncontextmenu='return false' class='snippet-body'>
<div class="super_container">
<!-- =================================================================== -->
     <div class="super_container">
   

   <!-- ===========================Single Product Page======================================== -->
        <div class="single_product" >
            
            <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
                <div class="row">
                    <div class="col-lg-2 order-lg-1 order-2">
                        <ul class="image_list">
                            <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg"><img class="w-100" src="<%= @single_product.product_image2%>" alt=""></li>
                            <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg"><img class="w-100" src="<%= @single_product.product_image3%>" alt=""></li>
                            <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg"><img class="w-100" src="<%= @single_product.product_image4%>" alt=""></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-lg-2 order-1">
                        <div class="image_selected bg-image hover-zoom"><img src="<%= @single_product.product_image1%>" alt=""></div>
                    </div>
                    <div class="col-lg-6 order-3">
                        <div class="product_description">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/landing_page">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/product/product_index">Products</a></li>
                                </ol>
                            </nav>
                            <div class="scrollbar scrollbar-primary">
                                <div class="force-overflow">
                            <div class="product_name"><%= @single_product.product_name%></div>
                            
                            <div> <span class="product_price"><%= @single_product.product_price* 28.98/100 %> kr&nbsp; </span>  </div>
                             <p style="font-size:small; text-align:justify"><%= @single_product.product_description%></p>
                            <hr class="singleline">
                            <div> <span class="product_info">EMI starts at 2,000 kr. No Cost EMI Available<span><br> <span class="product_info">Warranty: 6 months warranty<span><br> <span class="product_info">7 Days easy return policy<span><br> </div>
                         
                            <hr class="singleline">
                            <div class="order_info d-flex flex-row">
                                <form action="#">
                            </div>
                            <div class="row"  data-controller = "product">
                                <div class="col-xs-6" style="margin-left: 13px; margin-bottom:9px">
                                    <div class="d-flex flex-row ">
                                            <h3>Quantity &nbsp;</h3>
                                            <input id="form1" min="1" name="quantity" value="1" type="number" class="form-control form-control-sm" style="width: 50px;" data-action="input->product#product_quantity" data-product-target="productQuantity" />

                                    </div>
                                </div>
                                <div class="col-xs-6"> 
                                    <a class="fas fa-shopping-cart index-anch-single" data-product-id-param ="<%=@single_product.product_unique_id%>" data-action="click->product#add_to_cart">Cart</a>
                                    <a class="fas fa-heart index-anch-single" href="/carts/add_to_wishlist/<%=@single_product.product_unique_id%>">Wishlist</a></button>                            
                                 <form class=" " action="/orders/order_confirmation"   >
                                <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button index-anch-single"
                                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                    data-panel-label="Pay <%= @single_product.product_price* 28.98/100 %> kr"
                                    data-currency="Kr"
                                    data-name="<%= @single_product.product_name%>"
                                    data-description="<%= @single_product.product_description%>"
                                    data-image="<%= @user_info.file_extension%>"
                                    data-amount="<%= @single_product.product_price* 28.98/100 %> kr"
                                    data-billing-name=""
                                    data-billing-city= "DEv"
                                    data-locale="auto"
                                    data-zip-code="true"
                                    data-billing-address="true"
                                    data-label="Buy Now"
                                    data-allow-remember-me="false"
                                    data-email="<%= @user_info.email%>"
                                    data-locale="auto"
                                    data-panel-label="Pay <%= @single_product.product_price* 28.98/100 %> kr"
                                    data-submit-label="Pay <%= @single_product.product_price* 28.98/100 %> kr">
                                    >
                                </script>
                            </form> 
                             </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </body> 
<%
=end%>